.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full viewport height */
  }
.spacing {
  margin-top: 5%;
}