.nes-container.custom-style {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &.left {
    width: 50%;
    margin-left: calc(50% - calc((50% - 0.25rem)));
    margin-right: auto;
  }

  &.right {
    width: 50%;
    margin-right: calc(50% - calc((50% - 0.25rem)));
    margin-left: auto;
  }

  &.center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .setting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    //gap: 0.5rem;
  
    .setting-field {
      flex-grow: 1;
    }
  }
}