.nes-container.custom-style {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &.left {
    width: 50%;
    margin-left: calc(50% - calc((50% - 0.25rem)));
    margin-right: auto;
  }

  &.right {
    width: 50%;
    margin-right: calc(50% - calc((50% - 0.25rem)));
    margin-left: auto;
  }

  &.center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  &.style {
    background-color: rgba(202, 137, 95, 0.95);
    //background-color: #8E6E53;
    //background-color: #817E9F;
    //color: #C6D8D3;
    color: #212529;
  }

  &.scrollable {
    overflow-y: auto;
    max-height: 500px;
  }

  &.scrollable2 {
    overflow-y: auto;
    max-height: 750px;
  }

  .setting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .setting-field {
      flex-grow: 1;
    }
  }
}