* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  font-family: "Press Start 2P", system-ui, sans-serif;
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-flex; // Make sure it's inline-flex or inline-block
  align-items: center; // Align text vertically
}

.nav-item:visited {
  color: white;
}

.nav-item:hover {
  text-decoration: none;
  transform: scale(1.2); // Enlarge the link on hover
}
