.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1001;
}

.theme-selection-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .theme-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Space between tags
    margin-top: 10px;
  }

  .theme-tag {
    background-color: #666666; // Dark background for contrast
    color: white; // White text
    padding: 5px 10px; // Padding around text
    border-radius: 16px; // Pill-shaped border
    display: flex;
    align-items: center;
    gap: 5px; // Space between text and close button

    .remove-theme {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
